@model OrionZadatak.Models.UgovorView
@inject OrionZadatak.Data.IPaketRepo Ipaket

@{
    var trajanje = new SelectList(new[] { 12, 24 });

    ViewData["Title"] = "Create";
}

<h1>Kreiraj</h1>

<h4>Ugovor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Korisnicko ime</label>
                <input asp-for="Ugovor.KorisnickoIme" class="form-control" />
                <span asp-validation-for="Ugovor.KorisnickoIme" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Trajanje ugovorne obaveze </label>
                <select asp-for="Ugovor.TrajanjeUgovorneObaveze" asp-items="@trajanje" class="form-control"></select>
                <span asp-validation-for="Ugovor.TrajanjeUgovorneObaveze" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ugovor.Popust" class="control-label"></label>
                <input min="0" max="100" asp-for="Ugovor.Popust" class="form-control" />
                <span asp-validation-for="Ugovor.Popust" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Gratis period</label>
                <input min="0" max="6" asp-for="Ugovor.GratisPeriod" class="form-control" />
                <span asp-validation-for="Ugovor.GratisPeriod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">NazivPaketa</label>
                <select asp-for="NazivPaketa" asp-items="@Ipaket.NaziviPaketa()" class="form-control"></select>
                <span asp-validation-for="NazivPaketa" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Snimi" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
