@model OrionZadatak.Entities.Ugovor

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Ugovor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BrojUgovora" />
            <div class="form-group">
                <label asp-for="KorisnickoIme" class="control-label"></label>
                <input asp-for="KorisnickoIme" class="form-control" />
                <span asp-validation-for="KorisnickoIme" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrajanjeUgovorneObaveze" class="control-label"></label>
                <input asp-for="TrajanjeUgovorneObaveze" class="form-control" />
                <span asp-validation-for="TrajanjeUgovorneObaveze" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Popust" class="control-label"></label>
                <input asp-for="Popust" class="form-control" />
                <span asp-validation-for="Popust" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GratisPeriod" class="control-label"></label>
                <input asp-for="GratisPeriod" class="form-control" />
                <span asp-validation-for="GratisPeriod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Paket" class="control-label"></label>
                <input asp-for="Paket" class="form-control" />
                <span asp-validation-for="Paket" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Status" /> @Html.DisplayNameFor(model => model.Status)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
